$color-orange : #df570c;
$color-orange-light : #e5783c;
$color-orange-lighter : #eb9a6d;

$color-blue : #004798;
$color-blue-light : #326bac;
$color-blue-lighter :#6690c1;
$color-grey-lighter : #efefef;
$color-overlay : #f4f4f4;